In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset_train = pd.read_csv('DOP/5a_40A.csv')
training_set = dataset_train.iloc[:, 0:2].values
dataset_train

       Hours  Temperature
0     0.0068      15.5483
1     0.0068      15.1557
2     0.0229      15.2865
3     0.0229      15.1557
4     0.0389      15.1557
...      ...          ...
1582  5.2108      30.5985
1583  5.2268      31.1220
1584  5.2268      30.9911
1585  5.2268      30.8603
1586  5.2268      30.7294

[1587 rows x 2 columns]

In [4]:
training_set

array([[6.80000e-03, 1.55483e+01],
       [6.80000e-03, 1.51557e+01],
       [2.29000e-02, 1.52865e+01],
       ...,
       [5.22680e+00, 3.09911e+01],
       [5.22680e+00, 3.08603e+01],
       [5.22680e+00, 3.07294e+01]])

In [5]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
training_set_scaled = sc.fit_transform(training_set)
training_set_scaled.shape

(1587, 2)

In [6]:
n=1528*60
X_train =np.empty((n,1))
y_train =np.empty((n,1))

k=0
for i in range(0,1528):
    for j in range(i,i+60):
        X_train[k+j][0]=training_set_scaled[j][0]
        y_train[k+j][0]=training_set_scaled[j][1]
    k=k+59
X_train = np.reshape(X_train, (60,1528))

In [7]:
X_train.shape

(60, 1528)