In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset_train = pd.read_csv('DOP/5a_40A.csv')
dataset_train.head()

   0.0068  15.5483
0  0.0068  15.1557
1  0.0229  15.2865
2  0.0229  15.1557
3  0.0389  15.1557
4  0.1995  15.8100

In [5]:
train = dataset_train.loc
train