In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset_train = pd.read_csv('DOP/5a_40A.csv')
training_set = dataset_train.iloc[:, 1:2].values

In [3]:
dataset_train.head()

    Hours  Temperature
0  0.0068      15.5483
1  0.0068      15.1557
2  0.0229      15.2865
3  0.0229      15.1557
4  0.0389      15.1557

In [4]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
training_set_scaled = sc.fit_transform(training_set)
training_set_scaled.shape

(1587, 1)

In [5]:
n=1526*60
X_train =np.empty((n,1))
y_train =np.empty((n,1))

k=0
for i in range(0,1527):
    for j in range(i,i+60):
        X_train[k+j][0]=training_set_scaled[j][0]
        y_train[k+j][0]=training_set_scaled[j][1]
    k=k+60
X_train = np.reshape(X_train, (60,1526))

IndexError: index 1 is out of bounds for axis 0 with size 1

In [6]:
X_train.shape

(91560, 1)